<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
<head>
  <title>$meta.reportTitle - $messages.getString("overview")</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="description" content="TestNG unit test results." />
  #if ($meta.stylesheetPath)
  <link href="custom.css" rel="stylesheet" type="text/css" />
  #end
    <script type="text/javascript" src="ichart.js"></script>
  <style type="text/css">
    *                        {padding: 0; margin: 0;}
    a                        {color: #006699;}
    a:visited                {color: #003366;}
    body                     {font-family: Lucida Sans Unicode, Lucida Grande, sans-serif; line-height: 1.8em; font-size: 62.5%; margin: 1.8em 1em;}
    h1                       {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 2.7em; margin-bottom: 0.6667em;}
    h2                       {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 1.8em; margin-bottom: 0;}
    p                        {font-size: 1.3em;}
    td                       {font-size: 1.3em;}

    .header                  {font-size: 1.4em; font-weight: bold; text-align: left;}
    .passed                  {background-color: #44aa44;}
    .skipped                 {background-color: #ffaa00;}
    .failed                  {background-color: #ff4444;}
    .failedConfig            {background-color: #800000; color: #ffffff}
    .skippedConfig           {background-color: #cc6600; color: #ffffff}
    .totalLabel              {font-weight: bold; background-color: #ffffff;}

    .suite                   {background-color: #999999; font-weight: bold;}
    .test                    {background-color: #eeeeee; padding-left: 2em;}
    .test .passed            {background-color: #88ee88;}
    .test .skipped           {background-color: #ffff77;}
    .test .failed            {background-color: #ff8888;}
    .group                   {background-color: #cccccc; color: #000000; font-weight: bold;}
    .suiteLinks              {float: right; font-weight: normal; vertical-align: middle;}
    .suiteLinks a            {color: #ffffff; margin-left: .5em;}
    .passRate                {font-weight: bold; text-align: right;}
    .duration                {text-align: right;}
    .thread                  {white-space: nowrap;}

    .resultsTable            {border: 0; width: 100%; margin-top: 1.8em; line-height: 1.7em; border-spacing: 0.1em;}
    .resultsTable .method    {width: 18em;}
    .resultsTable .duration  {width: 6em;}
    .resultsTable td         {vertical-align: top; padding: 0 1em;}
    .resultsTable th         {padding: 0 .5em;}
    .number                  {text-align: right;}
    .zero                    {font-weight: normal;}
    .columnHeadings          {font-size: 1em;}
    .columnHeadings th       {font-weight: normal;}

    .configTable             {border: 1px solid #800000; color: #800000; margin-bottom: 1.5em;}

    #sidebarHeader           {padding: 1.8em 1em; margin: 0 -1em 1.8em -1em;}
    #suites                  {line-height: 1.7em; border-spacing: 0.1em; width: 100%;}
    .tests                   {display: table-row-group;}
    .header.suite            {cursor: pointer; clear: right; height: 1.214em; margin-top: 1px;}
    div.test                 {margin-top: 0.1em; clear: right; font-size: 1.3em;}

    /* The +/- toggle used in the navigation frame. */
    .toggle                  {font-family: monospace; font-weight: bold; padding-left: 2px; padding-right: 5px; color: #777777;}
    .successIndicator        {float: right; font-family: monospace; font-weight: bold; padding-right: 2px; color: #44aa44;}
    .skipIndicator           {float: right; font-family: monospace; font-weight: bold; padding-right: 2px; color: #ffaa00;}
    .failureIndicator        {float: right; font-family: monospace; font-weight: bold; padding-right: 2px; color: #ff4444;}


    /* These classes are for information about an individual test result. */
    .result                  {font-size: 1.1em; vertical-align: middle;}
    .dependency              {font-family: Lucida Console, Monaco, Courier New, monospace; font-weight: bold;}
    .arguments               {font-family: Lucida Console, Monaco, Courier New, monospace; font-weight: bold;}
    .testOutput              {font-family: Lucida Console, Monaco, Courier New, monospace; color: #666666;}
    .stackTrace              {font-size: 0.9em; line-height: 1.2em; margin-left: 2em; display: none;}
    .stackTrace .stackTrace  {font-size: inherit;}

    .description             {border-bottom: 1px dotted #006699;}

    #meta                    {font-size: 1em; text-align: right; float: right;}
    #systemInfo              {color: #666666;}

    /* Reporter log output (individual test ouput is style by "testOutput" above). */
    #log                     {font-family: Lucida Console, Monaco, Courier New, monospace; font-size: 1.3em; margin-top: 1.8em;}

    .overviewTable           {width: 100%; margin-top: 1.8em; line-height: 1.7em; border-spacing: 0.1em;}
    .overviewTable td        {padding: 0 1em;}
    .overviewTable th        {padding: 0 .5em;}
    .overviewTable .duration {width: 6em;}
    .overviewTable .passRate {width: 6em;}
    .overviewTable .number   {width: 5em;}
    .overviewTable tr        {height: 1.6em;}
  </style>
</head>
<body>
<div id="meta">
  <span id="systemInfo">$meta.user&nbsp;/&nbsp;$meta.javaInfo&nbsp;/&nbsp;$meta.platform</span>
</div>

<h1>$meta.reportTitle</h1>
#if (!$utils.allOutput.empty)
  <p>
    #if ($meta.coverageLink)
      &#183; <a href="$meta.coverageLink" target="_top">$messages.getString("coverageReport")</a>
    #end
  </p>
#end

<div id='ichart-render'></div>

#foreach ($suite in $suites)
<table class="overviewTable">
  #set ($suiteId = $velocityCount)
  #set ($totalTests = 0)
  #set ($totalPassed = 0)
  #set ($totalSkipped = 0)
  #set ($totalFailed = 0)
  <tr>
    <th colspan="6" class="header suite">
      <div class="suiteLinks">
        #if (!$suite.invokedMethods.empty)
        ##<a href="suite${suiteId}_chronology.html">$messages.getString("chronology")</a>
        #end
        #if ($utils.hasGroups($suite))
        <a href="suite${suiteId}_groups.html">$messages.getString("groups")</a>
        #end        
      </div>
      ${suite.name}
    </th>
  </tr>
  <tr class="columnHeadings">
    <td>&nbsp;</td>
    <th>$messages.getString("duration")</th>
    <th>$messages.getString("passed")</th>
    <th>$messages.getString("skipped")</th>
    <th>$messages.getString("failed")</th>
    <th>$messages.getString("passRate")</th>
  </tr>
  #foreach ($result in $suite.results)
  #set ($notPassedTests = $result.testContext.skippedTests.size() + $result.testContext.failedTests.size())
  #set ($total = $result.testContext.passedTests.size() + $notPassedTests)
  #set ($totalTests = $totalTests + $total)
  #set ($totalPassed = $totalPassed + $result.testContext.passedTests.size())
  #set ($totalSkipped = $totalSkipped + $result.testContext.skippedTests.size())
  #set ($totalFailed = $totalFailed + $result.testContext.failedTests.size())
  #set ($failuresExist = $result.testContext.failedTests.size()>0 || $result.testContext.failedConfigurations.size()>0)

  #if (($onlyReportFailures && $failuresExist) || (!$onlyReportFailures))
  <tr class="test">
    <td class="test">
      <a href="suite${suiteId}_test${velocityCount}_results.html">${result.testContext.name}</a>
    </td>
    <td class="duration">
      $utils.formatDuration($utils.getDuration($result.testContext))s
    </td>

    #if ($result.testContext.passedTests.size() > 0)
    <td class="passed number">$result.testContext.passedTests.size()</td>
    #else
    <td class="zero number">0</td>
    #end

    #if ($result.testContext.skippedTests.size() > 0)
    <td class="skipped number">$result.testContext.skippedTests.size()</td>
    #else
    <td class="zero number">0</td>
    #end

    #if ($result.testContext.failedTests.size() > 0)
    <td class="failed number">$result.testContext.failedTests.size()</td>
    #else
    <td class="zero number">0</td>
    #end

    <td class="passRate">
      #if ($total > 0)
      #set ($passes = $total - $notPassedTests)
      $utils.formatPercentage($passes, $total)
      #else
      $messages.getString("notApplicable")
      #end
    </td>
  </tr>
  #end
  #end

    <tr class="suite">
    <td colspan="2" class="totalLabel">$messages.getString("total")</td>

    #if ($totalPassed > 0)
    <td id="tpn" class="passed number">$totalPassed</td>
    #else
    <td id="tpn" class="zero number">0</td>
    #end

    #if ($totalSkipped > 0)
    <td id="tsn" class="skipped number">$totalSkipped</td>
    #else
    <td id="tsn" class="zero number">0</td>
    #end

    #if ($totalFailed > 0)
    <td id="tfn" class="failed number">$totalFailed</td>
    #else
    <td id="tfn" class="zero number">0</td>
    #end

    <td class="passRate suite">
      #if ($totalTests > 0)
      #set ($totalPasses = $totalTests - $totalSkipped - $totalFailed)
      $utils.formatPercentage($totalPasses, $totalTests)
      #else
      $messages.getString("notApplicable")
      #end
    </td>

  </tr>
</table>
#end

<script type='text/javascript'>
pcount=document.getElementById("tpn").innerHTML;
fcount=document.getElementById("tfn").innerHTML;
scount=document.getElementById("tsn").innerHTML;
$(function(){
     var chart = iChart.create({
           render:"ichart-render",
           width:800,
           height:400,
           background_color:"#fefefe",
           gradient:false,
           color_factor:0.2,
           border:{
                 color:"BCBCBC",
                 width:0
           },
           align:"center",
           offsetx:0,
           offsety:0,
           sub_option:{
                 border:{
                       color:"#BCBCBC",
                       width:1
                 },
                 label:{
                       fontweight:500,
                       fontsize:11,
                       color:"#4572a7",
                       sign:"square",
                       sign_size:12,
                       border:{
                             color:"#BCBCBC",
                             width:1
                       }
                 }
           },
           shadow:true,
           shadow_color:"#666666",
           shadow_blur:2,
           showpercent:false,
           column_width:"70%",
           bar_height:"70%",
           radius:"90%",
           subtitle:{
                 text:"",
                 color:"#111111",
                 fontsize:16,
                 font:"微软雅黑",
                 textAlign:"center",
                 height:20,
                 offsetx:0,
                 offsety:0
           },
           footnote:{
                 text:"",
                 color:"#111111",
                 fontsize:12,
                 font:"微软雅黑",
                 textAlign:"right",
                 height:20,
                 offsetx:0,
                 offsety:0
           },
           legend:{
                 enable:false,
                 background_color:"#fefefe",
                 color:"#333333",
                 fontsize:12,
                 border:{
                       color:"#BCBCBC",
                       width:1
                 },
                 column:1,
                 align:"right",
                 valign:"center",
                 offsetx:0,
                 offsety:0
           },
           coordinate:{
                 width:"80%",
                 height:"84%",
                 background_color:"#ffffff",
                 axis:{
                       color:"#a5acb8",
                       width:[1,"",1,""]
                 },
                 grid_color:"#d9d9d9",
                 label:{
                       fontweight:500,
                       color:"#666666",
                       fontsize:11
                 }
           },
           label:{
                 fontweight:500,
                 color:"#666666",
                 fontsize:11
           },
           type:"pie2d",
           data:[
                 {
                 name:"Passed",
                 value:pcount,
                 color:"#44aa44"
           },{
                 name:"Failed",
                 value:fcount,
                 color:"#ff4444"
           },{
                 name:"Skipped",
                 value:scount,
                 color:"#FFD700"
           }
           ]
     });
     chart.draw();
});
</script>

</body>

</html>
